    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Collaborateur<br>
              <a href="{% url 'AddC' %}" class="fa fa-plus text-secondary mb-3"></a>
              </h6>
              <div class="header_search_form_container">
                <form role="form text-center" action="{% url 'table' %}" method="GET"> 
                  <!--{{ myFilter.form }}-->
                  <div class="mb-3 text-center">
                    <input type="search" name="Nom" class="form-control">
                    <button type="submit" style = 'margin-top : 10px' value="Submit" class="btn btn-primary">search</button>
                  </div>
                </form>
            </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0" style="height: 350px; overflow-y: auto;">
                <table class="table align-items-center mb-0" style="color: black !important">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Collaborateur</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prenom</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sexe</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date_de_naissance</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Age</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Situation_familiale</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre_d_enfants</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">N_CIN</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">N_Passeport</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adresse</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ville</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">E_mail</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">N_de_téléphone</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RIB</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">N_CNSS</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type_de_contrat</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Poste</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CSP</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date d'entrée</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de sortie</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ancienneté</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Salaire_base</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Motif de départ</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Commentaire</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for C in collaborateur %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ C.id }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Statut }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Nom }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Prenom }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Sexe}}</p>
                      </td>
                      <td class="align-middle text-center">
                        {% if C.Date_de_naissance %}
                            <p class="text-xs font-weight-bold mb-0">{{ C.Date_de_naissance|date:"d/m/Y" }}</p>
                        {% else %}
                            <p class="text-xs font-weight-bold mb-0">-</p>
                        {% endif %}
                      </td>                     
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Age }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Situation_familiale }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Nombre_d_enfants }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.N_CIN }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.N_Passeport }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Adresse_postale }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Ville }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.E_mail }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.N_de_téléphone }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.RIB }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.N_CNSS }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Type_de_contrat }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Poste }}</p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.CSP }}</p>
                      </td>
                      <td class="align-middle text-center">
                        {% if C.Date_d_entrée %}
                            <p class="text-xs font-weight-bold mb-0">{{ C.Date_d_entrée|date:"d/m/Y" }}</p>
                        {% else %}
                            <p class="text-xs font-weight-bold mb-0">-</p>
                        {% endif %}
                      </td> 
                      <td class="align-middle text-center">
                        {% if C.Date_de_Sortie %}
                            <p class="text-xs font-weight-bold mb-0">{{ C.Date_de_Sortie|date:"d/m/Y" }}</p>
                        {% else %}
                            <p class="text-xs font-weight-bold mb-0">-</p>
                        {% endif %}
                      </td> 
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.anciennetee }}</p>
                      </td>  
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Salaire_base }}</p>
                      </td>   
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Motif_de_départ }}</p>
                      </td>  
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ C.Commentaire }}</p>
                      </td>  
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ p.id_Collaboratteur.Nom }}</p>
                      </td>
                      <td class="align-middle">
                        <form action="{% url 'EditC' id=C.id %}" method="get">
                          {% csrf_token %}  
                          <button type="submit" value="submit"  class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                              Edit
                            </button> 
                        </form>
                      </td>
                      <td class="align-middle">
                        <form action="{% url 'DelC' id=C.id  %}" method="get">
                          {% csrf_token %}  
                          <button type="submit" value="submit"  class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                            Spprimer
                          </button> 
                        </form>
                      </td>     
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
