    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Evenement<br>
              <a href="{% url 'AddEV' %}" class="fa fa-plus text-secondary mb-3"></a>
              </h6>
              <div class="header_search_form_container">
                <form role="form text-center" action="{% url 'tableEV' %}" method="GET"> 
                  <!--{{ myFilter.form }}-->
                  <div class="mb-3 text-center">
                    <input type="search" name="Nom" class="form-control  text-center ">
                    <button type="submit" style = 'margin-top : 10px' value="Submit" class="btn bg-gradient-primary">search</button>
                  </div>
                </form>
            </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0" style="height: 350px; overflow-y: auto;">
                <table class="table align-items-center mb-0" style="color: black !important">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Event</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NOM</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priorite</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for E in Event %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ E.id }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ E.Name }}</p>
                      </td>
                      <td class="align-middle text-center fixed">
                        <p class="text-xs font-weight-bold mb-0 fixed">{{ E.Description }}</p>
                      </td>
                      <td class="align-middle text-center fixed">
                        <p class="text-xs font-weight-bold mb-0 fixed">{{ E.priorite }}</p>
                      </td>
                      <td class="align-middle">
                        <form action="{% url 'EditEV' id=E.id %}" method="get">
                          {% csrf_token %}  
                          <button type="submit" value="submit"  class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                              Edit
                            </button> 
                        </form>
                      </td>
                      <td class="align-middle">
                        <form action="{% url 'DelEV' id=E.id  %}" method="get">
                          {% csrf_token %}  
                          <button type="submit" value="submit"  class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                            Spprimer
                          </button> 
                        </form>
                      </td>     
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        .fixed {
          position: sticky;
          left: 0;
          z-index: 2; /* Ensure it's above other elements */
          background-color: #ffffff; /* Adjust as needed */
      }
      </style>