{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form </title>
</head>
<body>
    <table border="1" style="margin: 0 auto;">
        <tr>
            <td colspan="2">
                <img src="{% static 'Site de Societe/img/icon/icon_1.jpg' %}" alt="Logo" width="100" height="100">
                <h2 style="text-align: center;">Entretien EDS</h2>
            </td>
        </tr>
        <tr>
            <td>Nom et prénom</td>
            <td>{{ Nom }} {{ Prenom }}</td>
        </tr>
        <tr>
            <td>Date d'entretien</td>
            <td></td>
        </tr>
        <tr>
            <td>Activité</td>
            <td></td>
        </tr>
        <tr>
            <td>Manager</td>
            <td></td>
        </tr>
        <tr>
            <td>Salaire de base</td>
            <td></td>
        </tr>
        <tr>
            <td>Nbre de retards/absences</td>
            <td></td>
        </tr>
        <tr>
            <td>Nombre de jrs travaillés</td>
            <td></td>
        </tr>
        <tr>
            <td>Nombre d'heures travaillées</td>
            <td></td>
        </tr>
        <tr>
            <td>Base journalière</td>
            <td></td>
        </tr>
        <tr>
            <td>Prime de productivité</td>
            <td></td>
        </tr>
        <tr>
            <td>Avance sur salaire</td>
            <td></td>
        </tr>
        <tr>
            <td>Salaire à payer</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">Signature Manager</td>
        </tr>
        <tr>
            <td colspan="2">Signature Collaborateur</td>
        </tr>
        <tr>
            <td colspan="2">COMMENTAIRE</td>
        </tr>
    </table>
</body>
</html>
