{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form </title>
</head>
<body >
    <div style="margin:10px 20px;display:flex; justify-content:space-between;">
        <div>
            <img src="{% static 'Site de Societe/img/icon/icon_1.jpg' %}" alt="Logo" width="100" height="100">
        </div>
        <div>
            Mois : JANVIER 2024
        </div>    
    </div>

    <div style="margin:0px 100px">
        <div style="margin:30px"></div>

    <table border="1" style="width:100%; border-collapse: collapse;">
        <th colspan="2">Entretien EDS</th>
        <tr>
            <td style="width:30%">Nom et prenom</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Date d'entretien</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Activite</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Manager</td>
            <td></td>
        </tr>
    </table>

    <div style="margin:30px"></div>

    <table border="1" style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="width:30%">Salaire de base</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Nbre de retards/absences</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Nombre de jrs travailles</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Nombre d'heures travaillées</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Base journalière
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Prime de productivité
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Avance sur salaire
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="width:30%">Salaire à payer
            </td>
            <td></td>
        </tr>
    </table>

    <div style="margin:30px"></div>

    <table border="1" style=" width:100%; border-collapse: collapse;">
        <tr>
            <th>
                Signature Manager
            </th>
            <th>
                Signature Collaborateur
            </th>
            
        </tr>
        <tr style=" height: 70px;">
            <td>              
            </td>
            <th>
            </th>
        </tr>
        <tr >
            <th colspan="2">
                COMMENTAIRE	
            </th>
        </tr>
        <tr style=" height: 70px;">
            <td colspan ="2">
            </td>
        </tr>
    </table>
    <div style="margin:30px"></div>
    </div>
</body>
</html>