{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form </title>
</head>
<body >
    <div style="margin:10px 20px;display:flex; justify-content:space-between;">
        <div>
            <img src="{% static 'Site de Societe/img/icon/icon_1.jpg' %}" alt="Logo" width="100" height="100">
        </div>
        <div>
            Mois : {{moins}} 2024
        </div>    
    </div>

    <div style="margin: auto; width:600px">
        <div style="margin:30px"></div>

    <table border="1" style="width:100%; border-collapse: collapse;">
        <th colspan="2">Entretien EDS</th>
        <tr>
            <td style="width:40%">Nom et prenom</td>
            <td style="text-align : center">{{collaborateur.Nom}} {{collaborateur.Prenom}}</td>
        </tr>
        <tr>
            <td style="width:40%">Date d'entretien</td>
            <td style="text-align : center"></td>
        </tr>
        <tr>
            <td style="width:40%">Activite</td>
            <td style="text-align : center">Production</td>
        </tr>
        <tr>
            <td style="width:40%">Manager</td>
            <td style="text-align : center"></td>
        </tr>
    </table>

    <div style="margin:30px"></div>

    <table border="1" style="width:100%; border-collapse: collapse;">
        <tr>
            <td style="width:40%">Salaire de base</td>
            <td style="text-align : center">{{collaborateur.Salaire_base}}</td>
        </tr>
        <tr>
            <td style="width:40%">Nbre de retards/absences</td>
            <td style="text-align : center"></td>
        </tr>
        <tr>
            <td style="width:40%">Nombre d'heures planifiées</td>
            <td style="text-align : center"></td>
        </tr>
        <tr>
            <td style="width:40%">Nombre d'heures travaillées</td>
            <td style="text-align : center">{{ collaborateur.Taux_Horaire }}</td>
        </tr>
        <tr>
            <td style="width:40%">Base journalière
            </td>
            <td style="text-align : center">{{ collaborateur.S_H }}</td>
        </tr>
        <tr>
            <td style="width:40%">Prime de productivité
            </td>
            <td style="text-align : center">{{ collaborateur.Prime }}</td>
        </tr>
        <tr>
            <td style="width:40%">Avance sur salaire
            </td>
            <td style="text-align : center">{{ collaborateur.Salaire_Avancee }}</td>
        </tr>
        <tr>
            <td style="width:40%">Salaire à payer
            </td>
            <td style="text-align : center">{{ collaborateur.salaire_finale }}</td>
        </tr>
    </table>

    <div style="margin:30px"></div>

    <table border="1" style=" width:100%; border-collapse: collapse;">
        <tr>
            <th>
                Signature Manager
            </th>
            <th>
                Signature Collaborateur
            </th>
            
        </tr>
        <tr style=" height: 70px;">
            <td>              
            </td>
            <th>
            </th>
        </tr>
        <tr >
            <th colspan="2">
                COMMENTAIRE	
            </th>
        </tr>
        <tr style=" height: 70px;">
            <td colspan ="2">
            </td>
        </tr>
    </table>
    <form action="{% url 'generate_pdf' id=collaborateur.id  %}" method="get">
        {% csrf_token %}  
        <button type="submit" value="submit">
            Telecharger PDF
        </button> 
      </form>
    <div style="margin:30px"></div>
    </div>

</body>
</html>