{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Nombre des agents Actif</p>
                    <h5 class="font-weight-bolder mb-0">
                      
                      <span class="text-success text-sm font-weight-bolder">{{ collaborateur_Actif }}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="fa fa-user-o text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Nombre des agents InActif</p>
                    <h5 class="font-weight-bolder mb-0">
                      
                      <span class="text-success text-sm font-weight-bolder">{{ collaborateur_Inactif }}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="fa fa-user-circle text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">TAUX Turnover</p>
                    <h5 class="font-weight-bolder mb-0">
                      
                      <span class="text-success text-sm font-weight-bolder">{{ collaborateur_Turnover }}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="fa fa-user-circle text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">La somme Salariee</p>
                    <h5 class="font-weight-bolder mb-0">
                      
                      <span class="text-success text-sm font-weight-bolder">{{ salaire max }}</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="fa fa-user-circle text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <canvas id="agentGenderChart" 
                        width="50" 
                        height="20" 
                        data-collaborateur-man="{{ collaborateur_man }}" 
                        data-collaborateur-women="{{ collaborateur_women }}">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
         
        </div>
        <div class="col-lg-7">
          
        </div>
      </div>
      <div class="row my-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          
        </div>
        <div class="col-lg-4 col-md-6">
          
        </div>
      </div>



      <script>
        // JavaScript code for creating the pie chart
        const canvas = document.getElementById('agentGenderChart');
        const collaborateurMan = parseInt(canvas.getAttribute('data-collaborateur-man'));
        const collaborateurWomen = parseInt(canvas.getAttribute('data-collaborateur-women'));
        
        const ctx = canvas.getContext('2d');
        const agentGenderChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Home', 'Femme'],
                datasets: [{
                    label: 'Agent Gender',
                    data: [collaborateurMan, collaborateurWomen],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.5)', // Blue for Male
                        'rgba(255, 99, 132, 0.5)'   // Red for Female
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Agent Gender Distribution'
                }
            }
        });
    </script>