{% block body %}
{% load crispy_forms_tags %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Ajouter un collaborateur</h6>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" data-url="{% url 'table' %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" name="Ajouter" value="Ajouter" class="btn bg-gradient-dark w-100 my-4 mb-2">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}